<div class="form-group">
    <label for="searchInput">{{ searchLabel }}</label>
      <input 
        type="text" 
        id="searchInput" 
        placeholder="Enter search term "
        class="input-field"
        [(ngModel)]="this.searchTerm"
        (keydown.enter)="searchFromLabels()">
      <button id="searchButton" (click)="searchFromLabels()">Search</button>
      <ul id="resultsList">
        @for (item of this.filteredLabels; track item) {
          <li>{{ item }}</li>
        }
      </ul>
</div>