/* You can add global styles to this file, and also import other style files */

h1 {
  text-align: center;
  color: #202221;
}
h2{
    color: #222;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.input-field:focus {
  outline: none;
  border-color: #4CAF50;
}