<div class="container">
  <h2>Rod ASCII Art Generator</h2>

  <div class="control-group">
    <p class="center-text">
      <select [(ngModel)]="selectedLength" class="dropdown">
        @for (size of sizes; track size) {
            <option [value]="size">{{ size }}</option>
        }
      </select>
      <strong>X</strong>
      <select [(ngModel)]="selectedWidth" class="dropdown">
          @for (size of sizes; track size) {
                <option [value]="size">{{ size }}</option>
          }
        </select>
        
        <a (click)="generateBlocks()" class="generate-btn">Generate</a>
    </p>
     
  </div>
@if(this.rodArt){
<div class="result center-text">
    <pre >{{ rodArt }}</pre>
  </div>
}
  
</div>
