<h1>Mean</h1>
<p>Enter Numbers Below: </p>
<div class="number-box-container">
  <input  *ngFor="let num of NumbersGiven; let i = index; trackBy: trackByIndex"
      type="number" 
      [(ngModel)]="NumbersGiven[i]" 
      (ngModelChange)="onValueChange()"
      placeholder="#"
      class="number-input"
    />
</div>

<p><strong>Current Array Structure:</strong> {{ NumbersGiven | json }}</p>
<p><strong>Cleaned Array for API:</strong> {{ GetCleanedArray() | json }}</p>
<h2>Mean of Cleaned Array</h2>
{{NumbersGiven.reduce((sum, num) => sum + num, 0) / this.GetCleanedArray().length}}
<h2>Standard Deviation of Cleaned Array(No Zero[0])</h2>
<h3>
  {{ CalculateStandardDeviation() | number:'1.2-2' }}
</h3>
